@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply box-border list-none p-0 m-0 scroll-smooth;
	}

	body {
		@apply text-white min-h-screen font-inter;
	}
}

.success {
	background-color: green;
	color: white;
}

.success:hover {
	background-color: white;
	color: green;
	border-color: green;
}
